
<!DOCTYPE html>
<html>
<head>
<title>Emotion Vibe Music Recommender</title>
<style>

body{
background: linear-gradient(135deg,#0f172a,#1e3a8a);
color:white;
font-family:Arial;
text-align:center;
}

.container{
margin-top:30px;
}

img{
border-radius:10px;
border:3px solid white;
}

button{
padding:10px 20px;
font-size:16px;
margin-top:10px;
cursor:pointer;
}

input{
padding:10px;
width:300px;
margin-top:10px;
}

</style>
</head>

<body>

<div class="container">

<h2>Emotion Based Music Recommendation System</h2>

<img src="/video" width="500">

<br>

<input id="textInput" placeholder="Enter how you feel...">

<br>

<button onclick="analyze()">Analyze Mood</button>

<button onclick="play()">Open Playlist</button>

<p id="result"></p>

</div>

<script>

async function analyze(){

let text = document.getElementById("textInput").value

let formData = new FormData()
formData.append("text", text)

let res = await fetch("/analyze_text",{
method:"POST",
body:formData
})

let data = await res.json()

document.getElementById("result").innerHTML =
"Emotion: " + data.emotion +
"<br>Sentiment: " + data.sentiment +
"<br>Context: " + data.context +
"<br>Vibe: " + data.vibe
}

async function play(){
await fetch("/play")
}

</script>

</body>
</html>
